.data/
.venv/
model_dev/datasets/
.vscode/

src/_mockup/__pycache__
src/_mockup/core/__pycache__
src/_mockup/hardware/__pycache__
src/_mockup/vision/__pycache__

src/core/__pycache__

tests/_mockup/.pytest_cache
tests/_mockup/__pycache__

.pytest_cache
tests/__pycache__

.env
model_dev/logs/
model_dev/dataset_yolo_grayscale/
model_dev/__pycache__

# Ignorar reportes de texto generados dinámicamente pero mantener los ejemplos
reports/simulate/*.txt
!reports/simulate/example.txt
reports/stress_tests/*.txt
!reports/stress_tests/example.txt